.d-f {
  display: flex;
}

.jc-c {
  justify-content: center;
}

.jc-fe {
  justify-content: flex-end;
}

.jc-sb {
  justify-content: space-between;
}

.ai-c {
  align-items: center;
}

.fw-w {
  flex-wrap: wrap;
}
