:root {
  --accent: #cdac81;

  --text-white-mode: #00303f;
  --text-dark-mode: #f5f4f4;
  --text-btn-white-mode: #f5f4f4;
  --text-btn-dark-mode: #00303f;

  --background-body-white-mode: #fdfcfc;
  --background-body-dark-mode: #26242e;
  --background-list-white-mode: #f5f4f4;
  --background-list-dark-mode: #34323d;
  --background-popup-white-mode: #f9f8f8;
  --background-popup-dark-mode: #484650;
  --background-list-dot-white-mode: #00303f;
  --background-list-dot-dark-mode: #f5f4f4;
  --background-list-plus-white-mode: #f5f4f4;
  --background-list-plus-dark-mode: #00303f;

  --equalizer-white-mode: #00303f;
  --equalizer-dark-mode: #cdac81;
  --switch--white-mode: #f5f4f4;
  --switch--dark-mode: #34323d;
  --switch-circle-white-mode: #00303f;
  --switch-circle-dark-mode: #26242e;
}
