:root {
  --font-size-main: 14px;
  --font-size-small: 10px;
  --letter-spacing-main: 0.5px;
  --line-height-main: 21px;

  --accent: #cdac81;

  --text-main: #00303f;
  --text-btn: #f5f4f4;

  --background-body: #fdfcfc;
  --background-list: #f5f4f4;
  --background-popup: #f9f8f8;
  --background-list-dot: #00303f;
  --background-list-plus: #f5f4f4;

  --equalizer: #00303f;
  --switch: #f5f4f4;
  --switch-circle: #00303f;
}
